# web search
alias '?'='duck'
alias '??'='google'
alias aw='archwiki'

# ls dir/file colors
if [[ "$(uname)" == "Darwin" ]]; then
  alias ls="ls -G"
  else
  alias ls="ls --color=auto"
fi
alias l='ls -1'
alias ll='ls -la'

# docker shortcuts
alias d="docker"
alias dr="readydocker.sh"
alias dcu="docker compose up -d"
alias dcd="docker compose down"
alias dir="docker image rm"

# neovim shortcuts
alias vi='nvim'
alias vim='nvim'

# ansible shortuts
alias a="ansible"
alias ap="ansible-playbook"

# yarn shortcuts
alias y="yarn"
alias yb="yarn build"
alias yd="yarn dev"
alias ys="yarn start"

# misc shortcuts
alias aliases='${=EDITOR} ${ZDOTDIR:-$HOME}/.aliases' # Quick access to the aliases.zsh file
alias proj="cd $PROJECTS_DIR"
alias dots="cd $DOTFILES"
alias grep='grep --color'
alias h='history'
alias hypers='${=EDITOR} ${ZDOTDIR:-$HOME}/.keyboard/hammerspoon/hyper-apps.lua'
alias nmap='${=EDITOR} ${ZDOTDIR-$HOME}/.config/nvim/lua/mappings.lua'
alias nplug='${=EDITOR} ${ZDOTDIR-$HOME}/.config/nvim/lua/plugins.lua'
alias nplugconf='${=EDITOR} ${ZDOTDIR-$HOME}/.config/nvim/lua/plugins-config.lua'
alias nsett='${=EDITOR} ${ZDOTDIR-$HOME}/.config/nvim/lua/settings.lua'
alias t='touch'
alias tr='tree -CphuNI node_modules'
alias x="exit" # Exit terminal
alias zshrc='${=EDITOR} ${ZDOTDIR:-$HOME}/.zshrc' # Quick access to the .zshrc file

# Git
alias g="git"
alias ga='git add'
alias gaa='git add --all'
alias gb='git branch'
alias gbD='git branch -D'
alias gbda='git branch --no-color --merged | command grep -vE "^(\+|\*|\s*($(git_main_branch)|development|develop|devel|dev)\s*$)" | command xargs -n 1 git branch -d'
alias gbl='git blame -b -w'
alias gbr='git branch --remote'
alias gc="git commit"
alias gc='git commit -v'
alias gcb="git checkout -b"
alias gcb='git checkout -b'
alias gcd="git checkout development"
alias gcl='git clone --recurse-submodules'
alias gcm='git checkout $(git_main_branch)'
alias gco="git checkout"
alias gd="git diff"
alias gd='git diff'
alias gf='git fetch'
alias gfa='git fetch --all --prune'
alias gfo='git fetch origin'
alias gl='git pull'
alias glum='git pull upstream $(git_main_branch)'
alias gm='git merge'
alias gma='git merge --abort'
alias gmom='git merge origin/$(git_main_branch)'
alias gp='git push'
alias gpob='git push origin $(git branch --show-current)'
alias gpristine='git reset --hard && git clean -dffx'
alias grbi='git rebase -i'
alias grbm='git rebase $(git_main_branch)'
alias grhh='git reset --hard'
alias groh='git reset origin/$(git_current_branch) --hard'
alias gss="git status -s"
alias gst="git status"
alias gstp="git stash pop"
alias gsts="git stash show -p"

# GitHub CLI
alias ghl="gh issue list"
